.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.paper1{
	margin: 5px;
	text-align: center;
  width: 200px;
  display: block;
  margin-left: 40%;
  height: 150px;
  border: 3px solid green;

}
.paper2{
  margin: 5px;
  text-align: center;
  width: 200px;
  margin-right: 20%;
  display: block;
  height: 150px;
  border: 3px solid green;
}

.appbar{
	text-align: center;
	color: white;
}

.chart{
  width: 800px;
  height: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}